# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

dataset/
training_data.npy
training_data_v2.npy
training_data_v3.npy
tensorboard_check/
resnet-500e-64b-0354470.pt
log/
data.yaml
augment_data.ipynb
augment_data.py

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

